/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #f2f2f2;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* navigasi dan logo */
.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 550;
  font-size: 14px;
  transition: color 0.3s ease;
}

header nav ul li a.home {
  text-decoration: underline;
}

header nav ul li a:hover {
  color: #ed3361;
}

/* Header Content */
.header-content {
  background-color: #168dce;
  color: #fff;
  padding: 120px 20px 50px;
  text-align: center;
}

.header-content h1 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.header-content p {
  font-size: 14px;
}

/* konten 2 informasi layanan */
.service-info,
.video-info,
.image-gallery,
.goal-info {
  padding: 20px;
}

.service-info h2,
.video-info h2,
.image-gallery h2,
.goal-info h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h3 {
  font-weight: 550;
  margin-bottom: 10px;
}

.card p {
  font-weight: 400;
}

/* konten 3 video */
.video-container {
  text-align: center;
}

.video-container iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
}

/* konten 4 galeri foto */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.image-item img {
  width: 100%;
  border-radius: 10px;
}

/* konten 5 tujuan */
.goal-info .card-container-horizontal {
  flex-wrap: wrap;
}

.goal-info .card-container-horizontal .card {
  flex: 0 1 calc(33.33% - 20px);
  margin-bottom: 20px;
}
